$feed-width: 70%;

.Feed {
    width: $feed-width;
    border: 2px solid black;
    background: white;

    margin: 0 auto;
    padding: 1em;
}

.header {
    border: 2px solid black;
    width: 30%;
    padding: 0px;
    padding-left: 15px;
}
.header * {
    margin: 0px;
}

.Feed > * {
    margin-bottom: 20px;
}

