.FeedItem {
    border: 2px solid black;
    width: 90%;
    padding-left: 1em;

    & > * {
        word-wrap: break-word;
    }

    & .whom {
        font-size: 75%;
        text-decoration: underline;
    }

    & *:not(.whom) {
        margin-left: 1em;
    }
}