$bg-color: #e6e6ff;
$purple2: #cc00cc;

body {
    background: $bg-color;
    padding: 5px 10px 0px 10px;
}

.App > * {
    margin-bottom: 1em;
}

$feed-width: 70%;
.body {
    width: $feed-width;
    border: 2px solid black;
    background: white;

    margin: 0 auto;
    padding: 1em;
}