@use "../../css/Generic.scss";

.Banner {
    border: 2px solid black;
    background: white;
    height: 10VH;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    & > * {
        margin: auto 7.5px;
        padding: 0;
    }
    & > :first-child {
        margin: auto 7.5px auto 15px;
    }
    & > :last-child {
        margin-right: 15px;
    }
}

.Banner svg {
    fill: black;
    transition: 125ms;
    cursor: pointer;

    &:hover {
        fill: Generic.$purple2;
        width: 3em;
        height: 3em;
    }
}

.Icon {
    width: fit-content;
    height: fit-content;
}